@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -9px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.btn-warning {
    background-color: #f68525;
}

@media (min-width: 768px) {
    .container {
        width: 770px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}