{% extends "::base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="haut">
        <h1 id="site-title">Capoeira CDO PARIS</h1>
        <h2 id="site-description">Bienvenue chez Capoeira Cordão De Ouro Paris !</h2>
    </div>

    {{ wo_render_breadcrumbs() }}
    <div class="container-fluid">
        <div id="content" class="col-md-12">
            Accueil
            {% image '@AppBundle/Resources/public/img/Picto_Chicote.jpg' %}
                <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>



{% endblock %}
